#logotipo{
    width:100px;    
    right:100px;
}

#title{
    text-align: center;
    margin-right: 500px;
    font-family:  'Merriweather', serif;
    color:black;
    letter-spacing: 4px;
}

.navbar{
    background-color: rgb(236, 207, 207);
   
    right:0px;    
    left:0px;
}

.container-fluid2{
    margin-top: 150px;
}




